@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #bedbff;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

div {
  user-select: none;
  -webkit-user-select: none;
}