@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bohemian Typewriter';
  src: url('/Bohemian-Typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #bedbff;
}